:root{
    --main-color: #2B2A28;
    --second-color: #FEFC07;
    --third-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
    max-width: 440px;
    margin: 0 auto;
}

@media screen and (min-width: 440px) {
    .container{
        padding: 0 5px;
    }
}


.header__inner{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    background-color: var(--main-color);
    color: white;
    padding: 0 10px;
    position: relative;
}

.header__logo{
    width: 100px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo img{
    width: 100%;
}


.header__menu{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 21px;
    /* margin-right: 10px; */
    border-top: 2px solid var(--third-color);
    border-bottom: 2px solid var(--third-color);
    cursor: pointer;
    position: absolute;
    top: 54%;
    right: 20px;
    transform: translateY(-50%);

}

.header__menu span{
    width: 100%;
    height: 2px;
    background-color: var(--third-color);
}

.menu{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    top: 60px;
    left: 0;
    padding-left: 10px;
    z-index: 1000;
    /* transition: .4s ease-in; */
}

.menu__item{
    margin-top: 20px;
    font-size: 20px;
    width: fit-content;
    /* border: 1px solid red; */
    cursor: pointer;
    color: var(--third-color)
}

.menu_none{
    transform: translateY(calc(-100% - 60px))
}


.main{
    margin-top: 20px;
}

.main__items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    row-gap: 30px;
}

.item{
    width: 170px;
    height: 230px;
    background-color: var(--main-color);
    border-radius: 12px;
    overflow: hidden;
    color: white;
    /* border: 1px solid red; */
}

.item__image{
    overflow: hidden;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__image img{
    width: 100%;
}

.item__info{
    padding: 5px 10px;
}

.item__name{
    font-size: 20px;
    line-height: 100%;
}

.item__description{
    font-size: 8px;
}

.item__price{
    margin-top: 10px;
    font-size: 20px;
}

*{
    /* border: 1px solid black; */
}